Makefile
Makefile.old
*.tar.gz
*.bak
*.swp
pm_to_blib
blib/
App-sqldisplay_http-*
App-sqldisplay_http-*/
.releaserc
cover_db
firefox-versions/
chrome-versions/
MYMETA.*
frame-*.png
*.pl
.prove
.patch
